* {
  font-family: "Trebuchet MS", sans-serif;
}

button {
  background-color: #3882F6;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 10px;
  border-style: none;
  color: white;
}

/* stuff related to the top box */

#kon-disc {
  max-width: 600px;
  margin-bottom: 30px;
}

.top-box {
  background-color: #1F2937;
  color: white; 
  display: flex;
  flex-direction: column;
  padding: 20px 400px;
  align-items: stretch;
  justify-content: center;
}

.top-box-content{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.header {
  display: flex;
  padding-bottom: 20px;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}


body {
  margin: 0;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex: 1;
}


.top-box-content-left {
  align-items: center;
  padding-right: 30px;
  flex: 1 1 auto;
}


#k-on-img {
  flex: 1 1 auto;
  height: auto;
  width: 200px;
  max-width: 400px;
}

/* Stuff related to the second box*/
.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 400px;
  padding-bottom: 100px;
}

#box-2-text {
  margin: 50px auto;
}

.image-boxes {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: #3882F6;
  background-size: 100%;
  background-position: center; 
}

.image-and-text-box {
  width: 200px;
}

.image-subtext {
  text-align: center;
}



/* stuff related to box 3 */

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 20%;
  background-color: #e5e7eb;
  flex: 1;
}

#quote-text {
  color: #1F2937;
  font-style: italic;
  font-weight: 100;
  font-size: 36px;
}

#quote-author {
  align-self: flex-end;
  font-weight: bold;
}

/* stuff related to box 4 */
.call-to-action-box {
  background-color: #3882F6;
  display: flex;
  align-items: center;
  margin: 100px 400px;
  border-radius: 10px;
  color: white;
  flex-wrap: wrap;
}

.cta-left {
  padding-left: 40px;
  flex: 2;
}

.cta-right {
  display: flex;
  justify-content: center;
  flex: 1;
}

#cta-button {
  border-style: solid;
}


/* Set background image for div image boxes */
#image-box-1 {
  background-image: url("./images/ritsu.webp");
}
#image-box-2 {
  background-image: url("./images/mugi.webp");
}
#image-box-3 {
  background-image: url("./images/yui.webp")
}

#image-box-4 {
  background-image: url("./images/mio.webp")
}
