/* stuff related to the top box */

.top-box {
  background-color: #1F2937;
  color: white; 
  display: flex;
  flex-direction: column;
  padding: 20px 400px;
  align-items: stretch;
  justify-content: center;
}

.top-box-content{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.header {
  display: flex;
  padding-bottom: 20px;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex: 1;
}


.top-box-content-left {
  align-items: center;
  padding-right: 30px;
  flex: 1 1 auto;
}


#mugi {
  flex: 1 1 auto;
  height: auto;
  width: 200px;
}

/* Stuff related to the second box*/
